/* wow animated fadeInRight */


/* indic animated */


/* wow animated fadeInUp */


/* button wow animated fadeInUp */


/* wow button animated fadeIn */

:root {}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    background-color: black;
    color: white;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.navigation-bar {
    width: 70%;
    margin: auto;
}

.navigation-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    text-align: center;
}

.navigation-menu li {
    flex: 1;
}

#home-section {
    height: 100vh;
    width: 100%;
    text-align: center;
}

.home-section-text {
    margin: auto;
    position: relative;
    top: 30%;
}

.home-section-text h1 {
    font-size: 7rem;
    padding-bottom: 0.2rem;
    animation-delay: 0.5s;
}

.home-section-text p {
    font-size: 2rem;
    text-align: right;
    width: 45%;
    float: right;
    padding-right: 0.5rem;
}

.home-section-text .padding {
    padding-right: 13rem;
    animation-delay: 2s;
}

.home-section-text .indic {
    border-right: 2px solid #fff;
}