/* wow animated fadeInRight */


/* indic animated */


/* wow animated fadeInUp */


/* button wow animated fadeInUp */


/* wow button animated fadeIn */

:root {}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    background-color: #151616;
    color: white;
}

section {
    white-space: wrap;
    height: auto;
    margin: auto;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 3em;
}

.navigation-bar {
    width: 70%;
    margin: auto;
}

.navigation-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    text-align: center;
}

.navigation-menu li {
    flex: 1;
}

#home-section {
    height: 100vh;
    width: 100%;
    color: #fff;
    text-align: center;
    margin: auto;
}

.home-section-text {
    position: relative;
    width: 85vw;
    margin: auto;
    top: 15%;
}

.home-section-text h1 {
    animation-delay: 0.5s;
    margin: 0;
    padding: 0;
}

.home-section-text p {
    position: absolute;
    color: #ccc;
    text-align: right;
    margin: 0;
    padding: 0;
    width: 45%;
    right: 10%;
}

.home-section-text .padding {
    padding-right: 13rem;
    animation-delay: 2s;
}

.home-section-text .indic {
    border-right: 2px solid #fff;
}

#projects-section {
    height: auto;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-between;
}

.projects-cards {
    text-align: center;
    padding: 10px;
}

.project-card {
    flex: 30%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    transition: ease-in-out .2s;
    margin: 10px;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.project-card:hover {
    transform: scale(1.01);
}

.project-card img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}

.project-card a {
    color: black;
    text-decoration: none;
}

.project-card a:hover {
    box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
    padding: 1.4em;
}

.card-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
}